body{
  	background: #fafafa;
  	padding: 0; 
  	margin: 0;
  	height:100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
h2{
  font-size: 2rem;
  font-weight: 300;
  color:#ddd;
}

/*
 *
 *  New Background trial
 *
 */

.my {
  position:absolute; 
  top:0; 
  left:0;
  width:100%;
  height:100%;
  background: -moz-linear-gradient(249deg, rgba(22,223,171,0.9) 0%, #6a16df), url('../images/back1.jpg') no-repeat;
  background: -webkit-gradient(249deg, rgba(22,223,171,0.9) 0%, #6a16df), url('../images/back1.jpg') no-repeat;
  background: -webkit-linear-gradient(249deg, rgba(22,223,171,0.9) 0%, #6a16df), url('../images/back1.jpg') no-repeat;
  background: -o-linear-gradient(249deg, rgba(22,223,171,0.9) 0%, #6a16df), url('../images/back1.jpg') no-repeat;
  background: -ms-linear-gradient(249deg, rgba(22,223,171,0.9) 0%, #6a16df), url('../images/back1.jpg') no-repeat;
  background: linear-gradient(249deg, rgba(22,223,171,0.9) 0%, #6a16df), url('../images/back1.jpg') no-repeat;;
  background-attachment: scroll;
  background-size: cover;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
  }
  @keyframes AnimationName { 
    0%{background-position:0% 97%}
    50%{background-position:100% 4%}
    100%{background-position:0% 97%}
  }


a {
  color: #bbb;
  text-decoration: none;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -moz-transition: -moz-transform .2s ease-in-out;
  transition: all .2s ease-in-out;
}
a:hover {
    z-index: 20;
    color: #fff;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.logoLoad {
	position: absolute;
	top: 50%; 
	left: 50%; 
	margin-top: -50px;
  margin-left: -50px;
	-webkit-animation: removed-item-animation .6s forwards; /* Safari 4+ */
	-moz-animation:    removed-item-animation .6s forwards; /* Fx 5+ */
  -o-animation:      removed-item-animation .6s forwards; /* Opera 12+ */
	animation:         removed-item-animation .6s forwards; /* IE 10+, Fx 29+ */
	animation-delay: 2s;
}

.main {
	position:absolute; 
	top:0; 
	left:0;
	width:100%;
	height:100%;
  background-image: url('../images/back.jpg');
  background-attachment: scroll;
	background-position: 0% 0%; 
  background-size: cover; 
	background-repeat: no-repeat;
}

.hidden {
  visibility: hidden;
}


.clicked {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  transition:all 1s ease;
}


/*
*
*	Animation of the logo
*
*/

@-webkit-keyframes removed-item-animation {
  from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}
@-moz-keyframes removed-item-animation {
  from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}
@-o-keyframes removed-item-animation {
  from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes removed-item-animation {
  from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

/* ANIMATE BG */


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn {from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.fade-in.logoMenu{
  -webkit-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  animation-delay: 2.1s;

}

.fade-in.secondMenu{
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

.fade-in.thirdMenu{
  -webkit-animation-delay: 3.3s;
  -moz-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

.fade-in.fourthMenu{
  -webkit-animation-delay: 3.9s;
  -moz-animation-delay: 3.9s;
  animation-delay: 3.9s;
}

.shadow{
  -webkit-box-shadow: -10px 0px 20px 1px rgba(100,100,100,0.75);
  -moz-box-shadow: -10px 0px 20px 1px rgba(100,100,100,0.75);
  box-shadow: -10px 0px 20px 1px rgba(100,100,100,0.75);
}

.shadow-main{
  -webkit-box-shadow: 20px 0px 20px -8px rgba(100,100,100,0.5);
  -moz-box-shadow: 20px 0px 20px -8px rgba(100,100,100,0.5);
  box-shadow: 20px 0px 20px -8px rgba(100,100,100,0.5);
}


/*
 *  NEW ANIMATION FOR THE MENU
 */

 #myDIV {
    width: 80%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    position: absolute;
    visibility: hidden;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: -100%;}
    to {left: 20%;}
}

@keyframes mymove {
    from {left: -100%;}
    to {left: 20%;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes hideMove {
    from {left: 20%;}
    to {left: -100%;}
}

@keyframes hideMove {
    from {left: 20%;}
    to {left: -100%;}
}