@font-face {
    font-family: 'Fotkalica'; /*a name to be used later*/
    src: url('../fonts/ufonts.com_levenim-mt.ttf'); /*URL to font*/
}

body{
  	background: #fafafa;
  	padding: 0; 
  	margin: 0;
  	height:100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: context-menu;

}

h1{
  font-family: 'Fotkalica', sans-serif;
  font-weight: normal;
  color:#dadaea; 
  font-size: 32px; 
  margin: 0; 
  padding: 0;
}

h2{
  font-size: 2rem;
  font-weight: 300;
  color:#ddd;
}

h3 {
  color: #fefefe;
}

hr {
  opacity: 0.85;
  z-index: 50;
}

table {
  width: 100%;
  text-align: center;
  border-spacing: 13px;
}

/***************************************/

/* EMAIL FORM stylings ------------------------------- */
.group { 
  position:relative; 
  margin-bottom:30px; 
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size:18px;
  padding-bottom: 15px;
  display:block;
  width:100%;
  border:none;
  border-bottom: 1px solid #bbb;
  background-color: rgba(255,255,255,0);
}
textarea {
  height: 150px;
  resize: none;
}

input:focus, textarea:focus { 
  outline:none; 
}

/* LABEL ======================================= */
label          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

/***************************************/
/* 
 * 
 *  SCROLL BAR FIXING 
 * 
 */

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
}

/* SUBMIT FORM BUTTON */

.pushButton {
  width:95%;
  border-bottom: 0px;
  border-radius: 10px;
  height: 10%;
  color: #fefefe;
  vertical-align: middle;
  line-height: normal;
  padding-top: 10px;
  font-weight: bold;
  background-color: rgb(85,204,85);
}


/*
 *
 *  New Background trial
 *
 */

.my {
  position:absolute;
  top:0; 
  left:0;
  width:100%;
  height:100%;
  background: -moz-linear-gradient(249deg, rgba(22,223,171,0.6) 0%, #6a16df), url('../images/back1.jpg') no-repeat;
  background: -webkit-gradient(249deg, rgba(22,223,171,0.6) 0%, #6a16df), url('../images/back1.jpg') no-repeat;
  background: -webkit-linear-gradient(249deg, rgba(22,223,171,0.6) 0%, #6a16df), url('../images/back1.jpg') no-repeat;
  background: -o-linear-gradient(249deg, rgba(22,223,171,0.6) 0%, #6a16df), url('../images/back1.jpg') no-repeat;
  background: -ms-linear-gradient(249deg, rgba(22,223,171,0.6) 0%, #6a16df), url('../images/back1.jpg') no-repeat;
  background: linear-gradient(249deg, rgba(22,223,171,0.6) 0%, #6a16df), url('../images/back1.jpg') no-repeat;;
  background-attachment: scroll;
  background-size: cover;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;

}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}
@keyframes AnimationName { 
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}

#home {
  position:absolute; 
  top:0; 
  left:0%;
  width:100%;
  height:70%;
  text-align: center;
  opacity: 1;
}

.headline-image {
  height:100px; 
  margin-top:32px;
}

#headline {
  margin-top: 15%;
  vertical-align: middle;
  line-height: normal;
  z-index:50; 
  font-family: 'Fotkalica', sans-serif; 
  font-size: 3rem; 
  text-align: center; 
  text-shadow: 5px 3px 15px #aaa;
  font-weight: bold;
  font-size: 32px;
}

.menu-item {
  position:absolute;
  width:100%; 
  height:15%; 
  text-align: center; 
  z-index: 10; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#wedd {
  top: 75%; 
  background-color: rgb(0,170,255);
  opacity: 1;

}

#bday {
  top: 90%; 
  background-color: rgb(255,0,170);
  opacity: 1;

}

#corp {
  top: 105%; 
  background-color: #6A15DF;
  opacity: 1;

}

#cont {
  top: 120%;
  height:10%; 
  line-height: 10%; 
  background-color: #2D2D2D;
  opacity: 1;

}

#weddText, #bdayText, #corpText, #contText {
  position: absolute;
  top: 0%;
  height: 96%;

  background-color: rgba(254,254,254, 0.95);
  text-align: justify;

  opacity: 0;
  visibility: hidden;
  padding: 20px;

}

#wModal1Text, #wModal2Text, #bModal1Text, #bModal2Text, #cModal1Text, #cModal2Text {
  position: absolute;
  top: 0%;

  background-color: rgb(254,254,254);
  text-align: justify;

  opacity: 0;
  visibility: hidden;
  padding: 20px;

}

.weddImg{
  background: -moz-linear-gradient(rgba(0,170,255,0.6),rgba(0,170,255,0.6)), url('../images/wedd.jpg') no-repeat;
  background: -webkit-gradient(rgba(0,170,255,0.6), rgba(0,170,255,0.6)), url('../images/wedd.jpg') no-repeat;
  background: -webkit-linear-gradient(rgba(0,170,255,0.6),rgba(0,170,255,0.6)), url('../images/wedd.jpg') no-repeat;
  background: -o-linear-gradient(rgba(0,170,255,0.6), rgba(0,170,255,0.6)), url('../images/wedd.jpg') no-repeat;
  background: -ms-linear-gradient(rgba(0,170,255,0.6), rgba(0,170,255,0.6)), url('../images/wedd.jpg') no-repeat;
  background: linear-gradient(rgba(0,170,255,0.6), rgba(0,170,255,0.6)), url('../images/wedd.jpg') no-repeat;;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 30px;
}

.bdayImg{
  background: -moz-linear-gradient(rgba(255,0,170,0.6),rgba(255,0,170,0.6)), url('../images/brt.jpg') no-repeat;
  background: -webkit-gradient(rgba(255,0,170,0.6), rgba(255,0,170,0.6)), url('../images/brt.jpg') no-repeat;
  background: -webkit-linear-gradient(rgba(255,0,170,0.6),rgba(255,0,170,0.6)), url('../images/brt.jpg') no-repeat;
  background: -o-linear-gradient(rgba(255,0,170,0.6), rgba(255,0,170,0.6)), url('../images/brt.jpg') no-repeat;
  background: -ms-linear-gradient(rgba(255,0,170,0.6), rgba(255,0,170,0.6)), url('../images/brt.jpg') no-repeat;
  background: linear-gradient(rgba(255,0,170,0.6), rgba(255,0,170,0.6)), url('../images/brt.jpg') no-repeat;;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 30px;
}
.corpImg{
  background: -moz-linear-gradient(rgba(106,22,223,0.6),rgba(106,22,223,0.6)), url('../images/ofc.jpg') no-repeat;
  background: -webkit-gradient(rgba(106,22,223,0.6), rgba(106,22,223,0.6)), url('../images/ofc.jpg') no-repeat;
  background: -webkit-linear-gradient(rgba(106,22,223,0.6),rgba(106,22,223,0.6)), url('../images/ofc.jpg') no-repeat;
  background: -o-linear-gradient(rgba(106,22,223,0.6), rgba(106,22,223,0.6)), url('../images/ofc.jpg') no-repeat;
  background: -ms-linear-gradient(rgba(106,22,223,0.6), rgba(106,22,223,0.6)), url('../images/ofc.jpg') no-repeat;
  background: linear-gradient(rgba(106,22,223,0.6), rgba(106,22,223,0.6)), url('../images/ofc.jpg') no-repeat;;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 30px;
}

.logoLoad {
	position: absolute;
	top: 50%; 
	left: 50%; 
	margin-top: -50px;
  margin-left: -50px;
	-webkit-animation: removed-item-animation .6s forwards; /* Safari 4+ */
	-moz-animation:    removed-item-animation .6s forwards; /* Fx 5+ */
  -o-animation:      removed-item-animation .6s forwards; /* Opera 12+ */
	animation:         removed-item-animation .6s forwards; /* IE 10+, Fx 29+ */
	animation-delay: 2s;
}

/*
*
*	Animation of the logo
*
*/

@-webkit-keyframes removed-item-animation { 
  from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}
@-moz-keyframes removed-item-animation {
  from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}
@-o-keyframes removed-item-animation {
  from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}
@keyframes removed-item-animation {
  from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}

/* ANIMATE BG */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn {from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-o-keyframes fadeOut {from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

.fade-in {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
